body {
	font-family: Arial;
	font-size: 16px;
	font-weight: 400;
	line-height: 1.5;
	
	background-color: #ffffff;
	color: #333333;
	margin: 0 auto;
	max-width: 1480px;

	padding: 50px
}

header{
  display: flex;
  align-items: center;
  justify-content: space-between;

  padding-top: 50px;
}

h1{
	font-size: 54px;
	font-weight: 400;
	line-height: 1.1;
}

section{
	width: 100%;

	display: grid;
	grid-template-columns:repeat(8, 1fr);
	gap: 0px;
	grid-auto-flow: dense;

	padding-top: 100px;
}

section.projects figure img {
  width: 100%;
  display: block;
}

hr{
width: 100vw;
margin-left: calc(50% - 50vw);

border: 0.5px solid rgb(125, 125, 125);
}

section.projects figure, 
section.projects figcaption{
	grid-column: 1/span 8;
}

section.hero h1{
grid-column: 1 / span8;
padding-bottom: 100px;
}

figcaption{
	padding-bottom: 68px;
}

section.footer{
  display: flex;
  align-items: center;
  justify-content: space-between;
}

a {
  color: #000000;
  text-decoration: underline;
}

@media (max-width: 1520px) {
  body {
		padding: 20px;
	}}

	@media (max-width: 1040px) {
		h1 {
			font-size: 42px;
		}
	}

	@media (max-width: 840px) {
		h1 {
			font-size: 32px;
		}
	}

	@media (max-width: 740px) {
		h1 {
			font-size: 16px;
		}
		body{
			font-size: 12px;
			line-height: 1.3;
	}
		section{
			padding-top: 32px;
			gap: 6px;
		}
		figcaption{
		padding-bottom: 32px;
	}
	section.hero h1{
		padding-bottom: 32px;
	}}
